/* primeira parte- propriedades específicas do box model
*/

.texto {
  box-sizing: border-box;
  background: red;
  width: 100%px;
  height: 200px;
  max-width: 600px;
  max-height: 500px;
  min-width: 0;
  min-height: 100px;
  overflow: auto;
  margin: 0 auto 50px auto;
  padding: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: lightcoral;
  padding: 10px 5px;
}
